/* Reset dan dasar */
*, *::before, *::after { box-sizing: border-box; }
/* 2.2vw = 14px = 0.85rem */
html { font-size: 14px; scroll-behavior: smooth;
-webkit-text-size-adjust: 100%; }
@font-face { font-family: 'CuteAurora';
src: url('CuteAurora.woff2') format('woff2'); font-display: swap; }
@font-face { font-family: 'Engagement';
src: url('Engagement-Regular.woff2') format('woff2'); font-display: swap; }
@font-face { font-family: 'LondrinaSolid';
src: url('LondrinaSolid-Light.woff2') format('woff2'); font-display: swap; }
@font-face { font-family: 'SpaceGrotesk';
src: url('SpaceGrotesk-SemiBold.woff2') format('woff2'); font-display: swap; }
body { width: 100%; margin: 0; padding: 0;
font-family: "CuteAurora", Sans-Serif;
color: #2c3e50;
line-height: 1.2; display: flex; flex-direction: column; min-height: 100vh; }

/* Container utama */
.container { flex-grow: 1; display: flex;
flex-direction: column; padding: 0;
background: #FFF7EE; }

/* Header */
header, header img { display: block; width: 100%; height: auto; }
.menu { background: linear-gradient(180deg, #F2AF6D, #F27D00); height: 35px; z-index: 3;
padding: .6rem .6rem; box-shadow: 0 5px 15px #FFB76F; }
.menu a { color: #fff; border-right: 1px solid #fff; padding: 0 1rem 0 .5rem; }

 /* Konten utama */
main { flex-grow: 1; padding: 1.5rem; }

a { color: #2c3e50; text-decoration: none; }
h1 { margin: .5 0 .5rem 0; font-family: Engagement, serif; }
h2, h3, h4 { margin-top: 0; font-family: LondrinaSolid, serif !important; }
h1 { font-weight: 500; }
h1, h2, h3, h4 { font-weight: 550; }
h1 { font-size: 2.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5, h6 { font-size: 1rem; }
p { margin-top: 0; }
.menu a, .footer-grid li a, .links li a, .daftar li a { font-family: SpaceGrotesk, "Trebuchet MS", Arial; }
.menu a, .footer-grid li a { font-size: .9rem; }
.daftar li { border-bottom: 1.2px solid #FFE0B2; padding: .5rem 0; }
.daftar li a { font-size: 1.2rem; }
.links li a { font-size: 1.1rem; }

ul { margin-top: 0; margin-bottom: 1rem; padding-left: 1.25rem; }
li { margin-bottom: 0.2rem; }
li a { font-weight: 450; }

.layout, .kolom { display:grid; grid-template-columns: 1fr; gap: 0 1.2rem; }

.gbr-mskn, .gbr { margin: 1rem 0; }
.gbr-mskn img, .gbr img { max-width: 100%; height: auto; display: block; border-radius: 10px;
margin: 0 auto; }

@media (min-width: 860px){
.layout { grid-template-columns: 1.5fr .5fr; }
.kolom { grid-template-columns: 1fr 1fr; }
 }
 
.kotak { padding: 1rem; border-radius:20px;
box-shadow: 2px 2px 6px #FFECB3; background: #FFFBF7; min-height: 250px; margin-bottom: 1.2rem; }
.garis-putus { border-top: 3px dashed #FFE0B2; margin-bottom: 2rem; }
.prev { background: #FFF3E0; padding: .6rem; border-radius: 15px; border: 1.5px solid #FFD9BC; margin-bottom: 1rem; }
.next { text-align: right; }
.prev h3 { margin: 0; font-size: 1.1rem; }

.pita, .atm { border-radius: 20px; display: grid;
box-shadow: 2px 2px 6px #FFECB3; min-height: 250px; margin-bottom: 1.2rem; }
.tips, .pin { background: #FFFBF7; }
.icon { height: 2.5rem; padding: .5rem 1rem; font-size: 1.6rem; text-align: right; }
.tips-hijau { background: linear-gradient(180deg, #51C16F 85%, #409957); }
.pin-biru h2, .pin-biru h3 { color: #fff; }
.tips-hijau h2, .tips-hijau h3 { color: #fff; }
.pin-kuning { background: linear-gradient(180deg, #E8E800 85%, #A8A800); }
.pin-kuning h2, .pin-kuning h3 { color: #333; }
.pin-biru { background: linear-gradient(180deg, #44A0CE 85%, #347A9E); }
.judul2 { height: 40px; vertical-align: center; color: #eee; box-shadow: 4px 4px 12px rgba(23,71,0,.3); }
.judul2 h2 { margin: .35rem 0 auto 1rem; }
.judul2 h3 { margin: .55rem 0 auto 1rem; }
.judul2 h4 { margin: .6rem 0 auto 1rem; }
.konten2 { padding: 1rem; padding-bottom: 1rem; }

/* Footer */
footer { background: #444; color: #eee;
padding: 1rem 1.5rem .2rem 1.5rem;
user-select: none; box-shadow: 0 -5px 15px rgba(68,68,68,.6); }
footer a { color: #FFFF00; }
footer .copyright { text-align: center; }
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
.footer-grid { display: grid;
grid-template-columns: repeat(3, 1fr); }
@media (min-width: 1024px){
.menu { height: 40px; padding-top: .8rem; }
.gbr-mskn img, .gbr img { max-width: 65%; }
}

/* Mobile */
@media screen and (max-width: 768px) {
html { font-size: 17px; }
body { max-width: 100%; }
h1 { font-size: 2rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1.1rem; }
h4 { font-size: 1rem; }
h5, h6 { font-size: .9rem; }
.menu { padding-top: .3rem; }
.menu a { font-size: .7rem; }
.judul2 h2 { font-size: 1rem; }
.judul2 h3 { font-size: .9rem; }
.daftar li a { font-size: 1rem; }
.links li a { font-size: .9rem; }
footer, .footer-grid li a, #include-sidebar .konten2 { font-size: .7rem; }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
body { color: #ccc; }
.container { background: #121212; }
.menu { background: linear-gradient(180deg, #333, #222); box-shadow: none; }
.kotak, .pita, .atm, footer, .prev { background: #212021; box-shadow: none; }
.judul2 { background: #343434; box-shadow: 4px 4px 12px #222; }
a { color: #FF3331; }
.prev { border: 1.5px solid #333; }
.garis-putus { border-top: 3px dashed #aaa; }
}